@import '~bootstrap/scss/bootstrap';

header {
    text-transform: uppercase;
    color: #797979;
    font-size: .8rem;
    font-weight: 600;
}

div.card h5{
    padding: 1rem 0 .5rem;
}

div.jumbo{
    height: 300px;
    overflow: hidden;

    img{
        width: 100%;
    }
}